@import url("../fonts/GraphikLCG-Regular.ttf?family=GraphikLCG:100,100i,200,200i,300,400&display=swap");
@import url("../fonts/GraphikLCG-Semibold.ttf?family=GraphikLCG:500,600,700&display=swap");

body {
    font-family: "GraphikLCG", sans-serif;
}

.wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%; /*1290*/
    margin: 0 auto;
}

/* COMMON */

.btn,
.integrate__link,
.try__link {
    display: inline-block;
    padding: 20px 42px;
    transition: all .5s;
    text-decoration: none;
}

.btn,
.integrate__link,
.try__link,
.start__title,
.company__title,
.main__title,
.main__link,
.case__link,
.team__item-title,
.info__title,
.team__title,
.info__item-title,
.awards__text,
.integrate__title,
.try__title,
.case__title,
.case__title-primary {
    font-weight: 600;
}

.paragraph__link,
.main__link,
.team__item-link,
.case__link,
.info__link,
.menu__link {
    color: black; 
}

.main__link:hover,
.paragraph__link:hover,
.team__item-link:hover,
.case__link:hover,
.info__link:hover,
.menu__link:hover {
    color: #FF6336;
    transition: all .5s;
}

.btn--primary,
.integrate__link {
    background: #FF6336;
    color: #ffffff;
}

.btn--secondary {
    color: #000000; 
    border: 1px solid #a39f9f;
}
    
.btn:hover,
.integrate__link:hover,
.try__link:hover { /* чтобы цвет кнопки менялся при наведении */
    background: brown;
    transition: all .5s; /* но делал это плавно */
}

/*HEADER*/
.header {
    border-bottom: 1px solid #bbb7b7;
}

.header__wrapper {
    height: 95px;
    width: 93%; /* 1338 */
    margin: 0 auto;
}

.header__wrapper,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
}

.menu__item,
.header__btn-wrap {
    margin-left: 13%;
    white-space: nowrap;
}

.menu__link {
    text-decoration: none;
}

.header__btn {
    margin-left: 4%;
}

/*START*/
.start__item {
    width: 43%;
}

.start__title {
    width: 100%;
    margin-top: 129px;
    margin-bottom: 51px;
    font-size: 4rem;
}

.start__text {
    width: 75%;
    font-size: 1.6rem;
    margin-bottom: 50px;
}

.start__btn-wrap {
    margin-bottom: 25px;
}

.start__btn {
    margin-right: 1%; 
}

.start__img-wrap {
    width: 57%;
    margin-top: 151px;
}

/*COMPANY*/
.company {
    background: #FF9C7D;
    text-align: center;
}

.company__title {
    width: 50%;
    font-size: 3.1rem;
    padding-top:  108px;
    margin-top: 182px;
    margin-bottom: 82px;
    margin-left: 29%;
}

.company__item-wrap {
    display: flex;
    justify-content: space-around;
    padding-bottom: 119px;
}

/*MAIN*/

.main__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 160px;
}

.main__text {
    width: 40%;
}

.main__title {
    width: 80%;
    font-size: 3.1rem;
    margin-top: 160px;
}

.main__title,
.main__paragraph {
    margin-bottom: 30px;
}

.main__paragraph {
    width: 78%;
    font-size: 1.25rem;
    font-weight: 400;
}

.main__img {
    width: 49%;
}

.main__link,
.case__link {
    font-size: 1.25rem;
    text-decoration: none;
}

/*INFO*/ /*TEAM*/
.info {
    background-color: #FFF8E4;
}

.info__title,
.team__title {
    font-size: 3rem;
    margin-top: 120px;
    margin-bottom: 79px;
}
.info__item-wrap,
.team__item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__item {
   width: 33%; 
   text-align: center;
   margin-bottom: 147px;
}

.info__item-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.team__item {
    width: 30%;
    margin-bottom: 217px;
}

.team__item-title {
    font-size: 1.9rem;
    margin-bottom: 34px;
}

.team__item-first {
    margin-top: 49px;
}

.team__item-second {
    margin-top: 84px;
}

.team__item-third {
    margin-top: 66px;
}

.team__item-paragraph {
    margin-bottom: 25px; 
}

/* ABOUT */

.about {
    background-color: #C9E8F2;
}

.about__item {
    width: 69%;
    margin-top: 63px;
}

.about__img-wrap {
    width: 23%;
    margin:53px 4%;
}

.about__text {
   font-size: 1.9rem; 
   margin-bottom: 23px;
}

 /* AWARDS*/
.awards {
    background-color: #DABC98;
    padding: 75px 0;
}

.awards__text {
    width: 34%;
    font-size: 2.1rem;
} 

/* INTEGRATE */
.integrate,
.try {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.integrate__title,
.try__title { 
    margin-top: 165px;
    font-size: 4rem;
    width: 50%;
}

.integrate__text {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.integrate__img {
    margin-bottom: 32px ;
}

.integrate__link {
    margin-bottom: 162px;
}

/* TRY */
.try {
    background-color: #FF9C7D;
}

.try__text {
   font-size: 1.25rem; 
   margin-top: 29px;
   margin-bottom: 54px;
}

.try__title {
    padding-top: 119px;
}

.try__link {
    background-color: black;
    margin-bottom: 161px;
    color: #ffffff;
}

/* CASE */
.case {
    padding-top: 97px;
    padding-bottom: 95px;
}

.case,
.case__item-wrap {
    display: flex;
    justify-content: space-between;
}

.case__item-primary {
    width: 23%;
    margin-right: 60px;
}
.case__title-primary {
    font-size: 2.5rem; 
    margin-bottom: 29px;
}

.case__text-primary {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.case__item-wrap {
    width: 65%;
}

.case__title {
    margin-bottom: 21px;
    font-size: 1.25rem;
}

li {
    padding-bottom: 15px;
}

/* BORDER */ 

.border {
    text-align: center;
}

.border__img {
    width: 92%;
}

/* FOOTER */

.bottom {
    background-color: #EEEEEE;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;
    padding-top: 52px ;
    padding-bottom: 43px;
}

.footer__logo {
    display: flex;
}

.footer__img {
    margin-right: 3.5%;
}







